<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!-- San Jose Sabercats -->
    <add key ="SJS1" value="http://nsfl.jcink.net/index.php?showforum=51"/>
    <add key ="SJS2" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="SJS3" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Baltimore Hawks -->
    <add key ="BH1" value="http://nsfl.jcink.net/index.php?showforum=69"/>
    <add key ="BH2" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="BH3" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Colorado Yeti -->
    <add key ="CY1" value="http://nsfl.jcink.net/index.php?showforum=55"/>
    <add key ="CY2" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="CY3" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Philadelphia Liberty -->
    <add key ="PL1" value="http://nsfl.jcink.net/index.php?showforum=110"/>
    <add key ="PL2" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="PL3" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Yellowknife Wraiths -->
    <add key ="YW1" value="http://nsfl.jcink.net/index.php?showforum=57"/>
    <add key ="YW2" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="YW3" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Arizona Outlaws -->
    <add key ="AO1" value="http://nsfl.jcink.net/index.php?showforum=72"/>
    <add key ="AO2" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="AO3" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- New Orleans Second Line -->
    <add key ="NO1" value="http://nsfl.jcink.net/index.php?showforum=113"/>
    <add key ="NO2" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="NO3" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Orange County Otters -->
    <add key ="OCO1" value="http://nsfl.jcink.net/index.php?showforum=53"/>
    <add key ="OCO2" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="OCO3" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Add DSFL teams here -->
    
    <!-- Free Agents -->
    <add key ="FA1" value="http://nsfl.jcink.net/index.php?showforum=34"/>
    <add key ="FA2" value="http://nsfl.jcink.net/index.php?showforum=34&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="FA3" value="http://nsfl.jcink.net/index.php?showforum=34&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>
    
    <add key ="PlayerNodes" value="//tr[@class='topic-row']/td[@class='row4']/a"/>
    <add key ="TPENodes" value="//tr[@class='topic-row']/td[@class='row4']/span[@class='desc']"/>
    <add key ="PlayerURL" value="//tr[@class='topic-row']/td[@class='row4']/a[@href]"/>
    <add key ="PaginationPage" value ="//span[@class='pagination_pagetxt']"/>

    <add key="LocalPath" value="C:\Users\bwatson\Downloads\NSFLStatsWeb\NSFL\NSFL\Team Files\"/>
    
  </appSettings>
</configuration>