<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

<!-- NSFL teams-->

    <!-- San Jose Sabercats -->
    <add key ="SJS1" value="http://nsfl.jcink.net/index.php?showforum=51"/>
    <add key ="SJS2" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="SJS3" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Baltimore Hawks -->
    <add key ="BH1" value="http://nsfl.jcink.net/index.php?showforum=69"/>
    <add key ="BH2" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="BH3" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Colorado Yeti -->
    <add key ="CY1" value="http://nsfl.jcink.net/index.php?showforum=55"/>
    <add key ="CY2" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="CY3" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Philadelphia Liberty -->
    <add key ="PL1" value="http://nsfl.jcink.net/index.php?showforum=110"/>
    <add key ="PL2" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="PL3" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Yellowknife Wraiths -->
    <add key ="YW1" value="http://nsfl.jcink.net/index.php?showforum=57"/>
    <add key ="YW2" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="YW3" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Arizona Outlaws -->
    <add key ="AO1" value="http://nsfl.jcink.net/index.php?showforum=72"/>
    <add key ="AO2" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="AO3" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- New Orleans Second Line -->
    <add key ="NO1" value="http://nsfl.jcink.net/index.php?showforum=113"/>
    <add key ="NO2" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="NO3" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Orange County Otters -->
    <add key ="OCO1" value="http://nsfl.jcink.net/index.php?showforum=53"/>
    <add key ="OCO2" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="OCO3" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Free Agents -->
    <add key ="FA1" value="http://nsfl.jcink.net/index.php?showforum=34&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=start_date"/>
    <add key ="FA2" value="http://nsfl.jcink.net/index.php?showforum=34&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=start_date&amp;st=15"/>
    <add key ="FA3" value="http://nsfl.jcink.net/index.php?showforum=34&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=start_date&amp;st=30"/>

<!-- Add DSFL teams here -->

    <!-- Tijuana Luchadores -->
    <add key ="TL1" value="http://nsfl.jcink.net/index.php?showforum=154"/>
    <add key ="TL2" value="http://nsfl.jcink.net/index.php?showforum=154&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="TL3" value="http://nsfl.jcink.net/index.php?showforum=154&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- San Antonio Marshals -->
    <add key ="SA1" value="http://nsfl.jcink.net/index.php?showforum=156"/>
    <add key ="SA2" value="http://nsfl.jcink.net/index.php?showforum=156&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="SA3" value="http://nsfl.jcink.net/index.php?showforum=156&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Kansas City Coyotes -->
    <add key ="KC1" value="http://nsfl.jcink.net/index.php?showforum=158"/>
    <add key ="KC2" value="http://nsfl.jcink.net/index.php?showforum=158&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="KC3" value="http://nsfl.jcink.net/index.php?showforum=158&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Palm Beach Solar Bears -->
    <add key ="PB1" value="http://nsfl.jcink.net/index.php?showforum=160"/>
    <add key ="PB2" value="http://nsfl.jcink.net/index.php?showforum=160&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="PB3" value="http://nsfl.jcink.net/index.php?showforum=160&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Norfolk Seawolves -->
    <add key ="NS1" value="http://nsfl.jcink.net/index.php?showforum=162"/>
    <add key ="NS2" value="http://nsfl.jcink.net/index.php?showforum=162&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="NS3" value="http://nsfl.jcink.net/index.php?showforum=162&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- Portland Pythons -->
    <add key ="PO1" value="http://nsfl.jcink.net/index.php?showforum=164"/>
    <add key ="PO2" value="http://nsfl.jcink.net/index.php?showforum=164&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="PO3" value="http://nsfl.jcink.net/index.php?showforum=164&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

<!-- Prospects -->

    <!-- QB Prospects -->
    <add key ="QB1" value="http://nsfl.jcink.net/index.php?showforum=84"/>
    <add key ="QB2" value="http://nsfl.jcink.net/index.php?showforum=84&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="QB3" value="http://nsfl.jcink.net/index.php?showforum=84&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- RB Prospects -->
    <add key ="RB1" value="http://nsfl.jcink.net/index.php?showforum=85"/>
    <add key ="RB2" value="http://nsfl.jcink.net/index.php?showforum=85&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="RB3" value="http://nsfl.jcink.net/index.php?showforum=85&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- WR Prospects -->
    <add key ="WR1" value="http://nsfl.jcink.net/index.php?showforum=86"/>
    <add key ="WR2" value="http://nsfl.jcink.net/index.php?showforum=86&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="WR3" value="http://nsfl.jcink.net/index.php?showforum=86&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- TE Prospects -->
    <add key ="TE1" value="http://nsfl.jcink.net/index.php?showforum=87"/>
    <add key ="TE2" value="http://nsfl.jcink.net/index.php?showforum=87&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="TE3" value="http://nsfl.jcink.net/index.php?showforum=87&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- OL Prospects -->
    <add key ="OL1" value="http://nsfl.jcink.net/index.php?showforum=88"/>
    <add key ="OL2" value="http://nsfl.jcink.net/index.php?showforum=88&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="OL3" value="http://nsfl.jcink.net/index.php?showforum=88&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- DE Prospects -->
    <add key ="DE1" value="http://nsfl.jcink.net/index.php?showforum=89"/>
    <add key ="DE2" value="http://nsfl.jcink.net/index.php?showforum=89&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="DE3" value="http://nsfl.jcink.net/index.php?showforum=89&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- DT Prospects -->
    <add key ="DT1" value="http://nsfl.jcink.net/index.php?showforum=90"/>
    <add key ="DT2" value="http://nsfl.jcink.net/index.php?showforum=90&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="DT3" value="http://nsfl.jcink.net/index.php?showforum=90&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- LB Prospects -->
    <add key ="LB1" value="http://nsfl.jcink.net/index.php?showforum=91"/>
    <add key ="LB2" value="http://nsfl.jcink.net/index.php?showforum=91&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="LB3" value="http://nsfl.jcink.net/index.php?showforum=91&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- CB Prospects -->
    <add key ="CB1" value="http://nsfl.jcink.net/index.php?showforum=92"/>
    <add key ="CB2" value="http://nsfl.jcink.net/index.php?showforum=92&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="CB3" value="http://nsfl.jcink.net/index.php?showforum=92&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- S Prospects -->
    <add key ="SF1" value="http://nsfl.jcink.net/index.php?showforum=93"/>
    <add key ="SF2" value="http://nsfl.jcink.net/index.php?showforum=93&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="SF3" value="http://nsfl.jcink.net/index.php?showforum=93&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <!-- K/P Prospects -->
    <add key ="KP1" value="http://nsfl.jcink.net/index.php?showforum=94"/>
    <add key ="KP2" value="http://nsfl.jcink.net/index.php?showforum=94&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="KP3" value="http://nsfl.jcink.net/index.php?showforum=94&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    
    <add key ="PlayerNodes" value="//tr[@class='topic-row']/td[@class='row4']/a"/>
    <add key ="TPENodes" value="//tr[@class='topic-row']/td[@class='row4']/span[@class='desc']"/>
    <add key ="PlayerURL" value="//tr[@class='topic-row']/td[@class='row4']/a[@href]"/>
    <add key ="PaginationPage" value ="//span[@class='pagination_pagetxt']"/>

    <add key="LocalPath" value="C:\Users\bwatson\Downloads\NSFLStatsWeb\NSFL\NSFL\Team Files\"/>
    
  </appSettings>
</configuration>